[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-mysqldb = "*"
pyjwt = "==1.7.1"
flask-jwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
